@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform: translateY(0px;);
    opacity: 1
}

.navbar{
    background: linear-gradient(to right,#131316, #10212b);
}

.navbar img{
    max-width: 30px;
    max-height: 30px;
}

.navbar-brand{
    padding: 1em;
}

.nav-item{
    padding: 1em;    
}

.nav-item a{
    color: #bbb;
}

.container1bg{
    background-image:url("images/WhatsApp%20Image%202023-03-25%20at%205.33.18%20PM.jpeg");
     background-size: cover;
    
}

#container1{
    background: rgba(0,0,0,0.95);
    height: 140vh;
    color: white;
}

#container1 h1{
    padding-top: 4em;
    text-align: center;
    font-size: 60px;
    font-family: 'poppins';
}

#container1 img{
    max-height: 450px;
    max-width: 450px;
}

#elongate{
    position: relative;
    top:170px;
    left: 130px;
}

#elongate2{
    width: 300px;
}


.logo:nth-child(2){
    transition-delay: 200ms;
    transform: rotate(0deg);
    position: relative;
    top:-100px;
    
}
.logo:nth-child(3){
    transition-delay: 400ms;
    transform: rotate(0deg);
    position: relative;
    top:-350px;
    left: -500px;
}
.logo:nth-child(4){
    position: relative;
    transition-delay: 600ms;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#container2{
   padding-bottom: 8em;
}

#container2 img{
    max-width: 90%;
    max-height: 90%;
}

#container2 p{
    width: 100%;
    padding: 2em;
    font-size: 25px;
}

#container2 button{
    margin-top: 6em;
    justify-content: center;
    width: 20%;
    margin-left: 20px;
}

button a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}



#container2 li{
    width: 10%;
    float: left;
    text-align: center;
    list-style-type: none;
    cursor: pointer;
    font-size: 20px;
}

.container3bg{
    background-image: url(images/WhatsApp%20Image%202023-03-25%20at%205.34.18%20PM.jpeg);
    background-size: cover;
}

#container3 {
    background: rgba(0,0,0,0.94);
    height: 100vh;
    color: white;
    padding: 8em;
    font-size: 22px;
}

#container4{
    margin-top: 100px;
}



#section1 img{
    max-width: 90%;
    max-height: 100%;
    padding-top: 2em;
    padding-left: 1.5em;
}
#section1 h3{
    padding-top: 2.5em;
}
#section1 p{
    width: 100%;
    padding-top: 1.5em;
    font-size: 21px;
}

#section2 {
    margin-top: 180px;
}
#section2 img{
    max-width: 90%;
    max-height: 100%;
    padding-top: 2em;
    padding-left: 5em;
}
#section2 h3{
    padding-top: 2.5em;
    padding-left: 2.1em;
}
#section2 p{
    width: 100%;
    padding-top: 1.5em;
    padding-left: 3em;
    font-size: 21px;
}

#section3 {
    margin-top: 100px;
    background: linear-gradient(to right, #10212b, #131316);
    color: white;
    height: 90vh;
    margin-top: 200px;
}

#section3 h3{
    padding-top: 5em;
    padding-left: 2.1em;
}
#section3 p{
    width: 100%;
    padding-top: 1.5em;
    padding-left: 3em;
    font-size: 21px;
}

#section3 img{
    max-width: 100%;
    max-height: 100%;
    padding-top: 5em;
    padding-left: 5em;
}

#section4 {
    background: linear-gradient(to right, #10212b, #131316);
    color: white;
    margin-top: 0px;
    height: 100vh;
}

#section4 img{
    max-width: 100%;
    max-height: 100%;
    padding-top: 2em;
    padding-left: 5em;
}

#section4 h3{
    padding-top: 2.5em;
    padding-left: 2.1em;
}
#section4 p{
    width: 100%;
    padding-top: 1.5em;
    padding-left: 3em;
    font-size: 21px;
}

#section4 h3{
    margin-top: 30px;
    margin-left: 3px;
}

.container5bg{
    background: url(images/WhatsApp%20Image%202023-03-25%20at%205.33.18%20PM.jpeg);
    background-size: cover;
}

#container5{
    background: rgba(0,0,0,0.9);
    color: white;
}

#container5 img{
    padding-top: 200px;
    padding-left: 4em;
    max-height: 700px;
    max-width: 700px;
}

#container5 h2{
    padding-top: 5em;
}


.container6 h4{
    padding-top: 5em;
}

.footer{
    margin-top: 150px;
    height: 35vh;
    background: linear-gradient(to right, #10212b, #131316);
    color: white;
}


.footer p{
    padding-top: 6em;
    font-size: 12px;
    color: #bbb;
}

.footer button{
    float: left;
    margin-top: 6em;
    float: right;
}

.footer ul{
    margin-left: 600px;
    padding-top: 2em;
}

.footer li{
    width: 10%;
    float: left;
    text-align: center;
    list-style-type: none;
    cursor: pointer;
    font-size: 20px;
}









